@model IEnumerable<BookshopDomain.Model.Book>

@{
    ViewData["Title"] = "BooksByPublisher";
}

<h1 asp-controller="Books" asp-action="BooksInCategory" asp-route-is="@ViewBag.CategoryId"> Книги видавництва @ViewBag.PublisherName</h1>

<p>
    <a asp-action="Create" asp-route-is="@ViewBag.PublsiherId">Додати книгу</a>
</p>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                Назва
            </th>
            <th>
                Автори
            </th>
            <th>
                Ціна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @foreach (var author in item.Authors)
                    {
                        <span>
                            @author.FirstName @author.LastName
                        </span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
